<!DOCTYPE html>
<html>
<head>
  <title>Stupid Coaching</title>
</head>
<body>
  <h1><strong>Stupid Coaching</strong></h1>
  <blockquote>
    <%= @question %>
    <p>- <em>You</em></p>
  </blockquote>

  <blockquote>
    <%= @coach_answer %>
    <p>- <em>Your coach</em></p>
  </blockquote>

</body>
</html>


