// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 blockquote {
   background: lightyellow; // Using this variable
   font-family: helvetica;
   font-size: 20px;
   border-left: gray 2px;
 }


 h3 {
  font-family: helvetica;
 }
